apiVersion: apps/v1
kind: Deployment
metadata:
  name: logs-service
  namespace: tasknotes
spec:
  replicas: 2
  selector:
    matchLabels:
      app: logs-service
  template:
    metadata:
      labels:
        app: logs-service
    spec:
      containers:
        - name: logs-service
          image: 602223305716.dkr.ecr.us-east-1.amazonaws.com/logs-service:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8010
          env:
            - name: SPRING_RABBITMQ_HOST
              value: rabbitmq
            - name: SPRING_RABBITMQ_PORT
              value: "5672"
            - name: SPRING_RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: RABBITMQ_DEFAULT_USER
            - name: SPRING_RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: RABBITMQ_DEFAULT_PASS
            - name: SPRING_RABBITMQ_VIRTUAL_HOST
              value: /
            - name: SPRING_RABBITMQ_ADDRESSES
              value: rabbitmq:5672
            - name: MONGODB_URL
              value: mongodb://mongo-logs:27017/tasknotes_logs_service
            - name: EXCHANGE_NAME
              value: tasknotes.events
            - name: LOGS_QUEUE
              value: logs-service
            - name: LOGS_BINDINGS
              value: task.*,note.*,category.*,tag.*,user.updated
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8010
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8010
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 5
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8010
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 30
