apiVersion: v1
kind: Service
metadata:
  name: admin-service
  labels:
    app: admin-service
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: admin-service
  ports:
  - name: http
    port: 8006
    targetPort: 8006
    protocol: TCP
