apiVersion: v1
kind: Service
metadata:
  name: landing-page
  labels:
    app: landing-page
    tier: frontend
spec:
  type: ClusterIP
  selector:
    app: landing-page
  ports:
  - name: http
    port: 3001
    targetPort: 3001
    protocol: TCP
