apiVersion: v1
kind: Service
metadata:
  name: posts-service
  labels:
    app: posts-service
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: posts-service
  ports:
  - name: http
    port: 8005
    targetPort: 8005
    protocol: TCP
