apiVersion: v1
kind: Service
metadata:
  name: users-service
  labels:
    app: users-service
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: users-service
  ports:
  - name: http
    port: 8004
    targetPort: 8004
    protocol: TCP
  - name: grpc
    port: 50051
    targetPort: 50051
    protocol: TCP
