# ClusterIssuer para Let's Encrypt (Production)
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: poveda.glo@gmail.com  # Correo real necesario para notificaciones
    privateKeySecretRef:
      name: letsencrypt-prod-key
    solvers:
      - http01:
          ingress:
            class: nginx  # <--- CAMBIO IMPORTANTE: Debes usar 'nginx'