apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-profile-service
  namespace: tasknotes
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-profile-service
  template:
    metadata:
      labels:
        app: user-profile-service
    spec:
      containers:
        - name: user-profile-service
          image: 602223305716.dkr.ecr.us-east-1.amazonaws.com/user-profile-service:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8007
          env:
            - name: ConnectionStrings__Default
              value: Host=postgres-userprofile;Port=5432;Database=tasknotes;Username=postgres;Password=postgres
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8007
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8007
            initialDelaySeconds: 10
            periodSeconds: 20