services:
  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    volumes:
      - influxdb:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=k6
      - INFLUXDB_HTTP_AUTH_ENABLED=false

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana:/var/lib/grafana
    depends_on:
      - influxdb

  k6:
    image: grafana/k6
    restart: on-failure
    volumes:
      - ./k6/strees-test.js:/test.js
    command: run /test.js --out influxdb=http://influxdb:8086/k6
    depends_on:
      - influxdb

volumes:
  influxdb:
  grafana:
