apiVersion: v1
kind: Service
metadata:
  name: tasks-service
  namespace: tasknotes
spec:
  type: ClusterIP
  selector:
    app: tasks-service
  ports:
    - name: http
      port: 8003
      targetPort: 8003
    - name: grpc
      port: 50052
      targetPort: 50052